@font-face {
	font-family: 'TT Commons';
	src: url('../fonts/TTCommons-Medium.eot');
	src: local('TT Commons Medium'), local('TTCommons-Medium'),
		url('../fonts/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TTCommons-Medium.woff') format('woff'),
		url('../fonts/TTCommons-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'TT Commons';
	src: url('../fonts/TTCommons-DemiBold.eot');
	src: local('TT Commons DemiBold'), local('TTCommons-DemiBold'),
		url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TTCommons-DemiBold.woff') format('woff'),
		url('../fonts/TTCommons-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Phenomena';
	src: url('../fonts/Phenomena-Regular.eot');
	src: local('Phenomena-Regular'), local('Phenomena-Regular'),
		url('../fonts/Phenomena-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Phenomena-Regular.woff') format('woff'),
		url('../fonts/Phenomena-Regular.woff2') format('woff2'),
		url('../fonts/Phenomena-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Phenomena';
	src: url('../fonts/Phenomena-Bold.eot');
	src: local('Phenomena-Bold'), local('Phenomena-Bold'),
		url('../fonts/Phenomena-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Phenomena-Bold.woff') format('woff'),
		url('../fonts/Phenomena-Bold.woff2') format('woff2'),
		url('../fonts/Phenomena-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	/* font-size: 16px; */
	font-size: 62.5%;
}
body {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	margin: 0;
	margin: auto;
	padding: 0;
	background-color: #e5e5e5;
	/* background-color: #ff0000; */
}
.section {
	max-width: 192rem;
	/* height: 80rem; */
	margin: 0 auto;
	/* border убрать после верстки всех блоков .section !!!!! */
	/* border: solid 1px black; */
	color: #0c740a;
}
/* ========================================================================== */
.hero {
	/* display: none; */
	margin: 0 auto;
	max-width: 192rem;
	/* width: 100%; */
	height: 80rem;
	overflow: hidden;
	position: relative;
}
.hero-background {
	width: 100%;
	position: relative;
	z-index: 20;
	/* top: 0;
	left: 0; */
}
.hero-sky {
	position: relative;
	width: 100%;
	/* height уточнять у каждой секции section */
	height: 100%;
	min-height: 800px;
	background: no-repeat center/cover url('../img/hero/hero-background.png');
	filter: blur(10px);
	/* В макете: filter: blur(20px); при необходимости включить строчку под этой строкой*/
	/* filter: blur(20px); */
}
.hero-tree {
	z-index: 10;
	position: absolute;
	width: 429px;
	height: 667px;
	left: 0px;
	bottom: 0px;
	/* Картинка скопирована из макета с блюром */
	background: url('../img/hero/hero-tree.png');
	/* filter: blur(1px); */
}
.hero-header {
	display: flex;
	position: absolute;
	overflow: hidden;
	margin: auto;
	top: 20px;
	left: 0;
	bottom: auto;
	right: 0;
	width: 1170px;
	height: 96px;
	justify-content: space-between;
	align-items: center;
	/* background-color: #ff0000; */
	z-index: 20;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 2.8rem;
	color: #009745;
}

.logo {
	display: flex;
	align-items: center;
}
.hero-header__logo_img {
	width: 7rem;
	height: 9.6rem;
	margin-right: 0.9rem;
}
.hero-header__logo_text span {
	color: #ee7e19;
}
.header-container {
	display: flex;
	align-items: center;
}
.hero-header_menu ul {
	padding-left: 2rem;
	width: 40.4rem;
	height: 4rem;
	border-radius: 2rem;
	background-color: #009846;
	display: flex;
	align-items: center;
	list-style: none;
}
.hero-header_menu ul li {
	padding-left: 0;
}
.hero-header_item a {
	margin-right: 1rem;
	text-decoration: none;

	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.1rem;

	color: #ffffff;
}
.hero-header_social {
	display: flex;
	justify-content: space-between;
	width: 12.5rem;
	height: 3.6rem;
	margin-left: 9.9rem;
	margin-right: 1.6rem;
}
.hero-header_social img {
	cursor: pointer;
}
.social-icon {
	justify-self: center;
}
.hero-header_phone {
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	margin-left: 1.6rem;
}
.hero-header_phone span {
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 2.8rem;
	/* identical to box height */
	color: #ffffff;
}
/* Кнопка "Перезвоните мне" */
.call-back {
	width: 13.3rem;
	height: 2rem;
	/* left: 984px;
	top: 68px; */
	padding: 0.2rem 0.8rem;
	margin-top: 1rem;
	background: #ee7e19;
	border: none;
	border-radius: 1rem;

	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 1.13;
	color: #ffffff;
	cursor: pointer;
}
/* Главный информационный блок */
.hero-info {
	display: flex;
	width: 117rem;
	height: 68.4rem;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -58.5rem;
	z-index: 50;
}
/* Главный текстовой блок */
.hero-text {
	width: 49.9rem;
	height: 100%;
}
.hero-title {
	margin-top: 10rem;
	/* margin-bottom: 2rem; */
	margin-bottom: 0;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 6.4rem;
	/* font-size: 6rem; */
	line-height: 7.4rem;
	color: #ffffff;
}
.hero-paragraf {
	margin-bottom: 2rem;
	margin-top: 0;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 2.8rem;
	color: #ffffff;
}
/* Кнопка "ЗАКАЗАТЬ СЕЙЧАС" */
.book-now {
	margin-top: 10rem;
	/* margin-bottom: 14.6rem; */
	border: none;
	background: linear-gradient(180deg, #ffcb9d 0%, #ef7e1a 100%);
	box-shadow: 0px 4px 0px #bd6e28;
	border-radius: 40px;
	padding: 1.5rem 3.7rem;
	padding-top: 3.7em;
	align-items: center;
	display: flex;
	cursor: pointer;
}
.book-now span {
	display: inline-block;
	margin-right: 0.7rem;
	margin-top: 0.1rem;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 2.5rem;
	text-transform: uppercase;
	color: #ffffff;
}
.book-now img {
	display: inline-block;
}
/* Блок картинки биллборда */
.hero-billboard {
	width: 67.1rem;
	height: 100%;
	position: relative;
}
.billboard {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
}
.banner {
	position: absolute;
	bottom: 25.7rem;
	right: 1.4rem;
	z-index: 20;
}
.slick {
	position: absolute;
	width: 3.5rem;
	height: 2.5rem;
	bottom: 26.4rem;
	right: 2.4rem;
	z-index: 30;
	background: rgba(0, 0, 0, 0.57);

	vertical-align: text-bottom;
}
.numerator {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	color: #ee7e19;
	position: absolute;
	bottom: 0;
	right: 2rem;
}
.denominator {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #ffffff;
	position: absolute;
	bottom: 0.1rem;
	right: 0.7rem;
}
.arrow-left {
	width: 35px;
	height: 35px;
	position: absolute;
	bottom: 20.9rem;
	right: 34.7rem;
	z-index: 40;
	cursor: pointer;
}
.arrow-right {
	width: 35px;
	height: 35px;
	position: absolute;
	bottom: 20.9rem;
	right: 29rem;
	z-index: 40;
	cursor: pointer;
}
/* ============================================================================== */
.values {
	/* width: 100%; */
	max-width: 192rem;
	height: 96.2rem;
	/* margin: 0 auto; */
	background-color: #ffffff;
	background-image: url('../img/values/ellipse-2.svg');
	background-position: 80% 6.6rem;
	background-repeat: no-repeat;
}
.wrapper {
	background-image: url('../img/values/dots.svg');
	background-position: 29% 75%;
	background-repeat: no-repeat;
}
.values__container {
	max-width: 112rem;
	height: 96.2rem;
	margin: auto;
	padding-top: 9.4rem;
}
.slogans {
	/* background: #ffffff; */
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 1rem;
	/* max-width: 67rem; */
	width: 67rem;
	min-height: 23.4rem;
}
.crowded {
	/* margin-left: 15rem; */
	margin-left: calc((100% - 76.8rem) / 3);
	/* margin-top: -5rem; */
	margin-top: calc(10%);
	z-index: 100;
}
.billboards-14 {
	/* margin-left: 30rem; */
	margin-left: calc((100% - 76.8rem) / 3 * 2);
	margin-top: -5rem;
	z-index: 0;
}
.bright {
	/* margin-left: 45rem; */
	margin-left: calc((100% - 76.8rem));
	margin-top: -5rem;
}
.slogans-text {
	padding-right: 0.5rem;
}
.slogans-title {
	margin: 0;
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	/* identical to box height */
	color: #000000;
}
.slogans-paragraph {
	margin: 0;
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.inner-border {
	border: 1px solid rgba(0, 152, 70, 0.25);
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	/* width: 100%; */
	height: 21rem;
}
.inner-border img {
	width: 19.2rem;
	height: 14.9rem;
	margin: auto 0.7rem;
	margin-right: 3.5rem;
}
.inner-border span {
	color: #ee7e19;
}
/* ====================================================================================== */
.how-we-work {
	max-width: 192rem;
	background-image: url('../img/how-we-work/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 5rem;
	padding-bottom: 8.9rem;
}
.work-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.work-header {
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 600;
	font-size: 52px;
	line-height: 48px;
	/* identical to box height, or 92% */
	text-align: center;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 8.8rem;
}
.work-info {
	display: flex;
	justify-content: space-between;
	max-width: 97.1rem;
	margin: auto;
	margin-bottom: 5rem;
}
.work-info_block {
	max-width: 17.1rem;
	position: relative;
}
.info-bg {
	width: 17.1rem;
	height: 17.1rem;
	border-radius: 50%;
	padding: 0.5rem;
}
.info-bg-phone {
	background: #ee7e19;
}
.info-bg-agree {
	background: #ffffff;
}
.info-bg-agreement {
	background: #ffffff;
}
.info-bg-advert {
	background: #ffffff;
}
.info-circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info-circle-phone {
	border: 0.2rem solid #ffffff;
}
.info-circle-agree {
	border: 0.2rem solid #ee7e19;
}
.info-circle-agreement {
	border: 0.2rem solid #ee7e19;
}
.info-circle-advert {
	border: 0.2rem solid #ee7e19;
}
.info-counts {
	position: absolute;
	top: -1.8rem;
	right: 0.6rem;
	width: 6rem;
	height: 6rem;
	border: 0.2rem solid #ee7e19;
	border-radius: 50%;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	padding-top: 1.7rem;
	/* align-self: center; */
	/* display: block; */
	background-color: #ffffff;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 28px;
	color: #000000;
}
.info-text {
	text-align: center;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 100%;
	color: #ffffff;
	margin-top: 2rem;
}

.work-callback {
	display: flex;
	max-width: 97.1rem;
	margin: auto;
}
/* Кнопка "ЗАКАЗАТЬ СЕЙЧАС" */
.button-bg {
	padding: 0.5rem;
	border: 0.1rem solid #ffffff;
	margin-right: 3rem;
	border-radius: 4.5rem;
	/* flex-shrink: 0; */
}
.work-book-now {
	border: none;
	/* background: linear-gradient(180deg, #ffcb9d 0%, #ef7e1a 100%); */
	background: #ffffff;
	/* box-shadow: 0px 4px 0px #bd6e28; */
	border-radius: 40px;
	padding: 1.2rem 2.5rem;
	padding-top: 2.9em;
	align-items: center;
	display: flex;
	cursor: pointer;
	/* margin-top: 5rem; */
}
.work-book-now span {
	display: inline-block;
	margin-right: 0.7rem;
	margin-top: 0.1rem;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.1rem;
	text-transform: uppercase;
	color: #ee7e19;
}
.work-book-now img {
	display: inline-block;
}
/* Текст справа от кнопки */
.work-callback_info {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	display: flex;
	align-items: center;
	color: #ffffff;
}
/* =================================================================================== */
.efficiency {
	position: relative;
	max-width: 192rem;
	background-color: #ffffff;
	padding-top: 6.1rem;
	padding-bottom: 3rem;
	overflow: hidden;
}
.efficiency-circles_1 {
	position: absolute;
	top: -38rem;
	left: -24.6rem;
}
.efficiency-circles_2 {
	position: absolute;
	top: 41rem;
	right: -39.5rem;
}
.efficiency-header_box {
	text-align: center;
	margin-bottom: 1.5rem;
}
.efficiency-header {
	margin: 0;
	margin-bottom: 2rem;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 600;
	font-size: 5.2rem;
	line-height: 4.8rem;
	color: #000000;
}
.efficiency-text {
	margin: 0 auto;
	margin-bottom: 4rem;
	max-width: 66.4rem;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 28px;
	color: #a0a3aa;
}
.advantages-wrapper {
	width: 100%;
	max-width: 117rem;
	/* display: flex; */
	/* justify-content: center; */
	margin: auto;
	padding-bottom: 2rem;
}
.efficiency-advantages {
	max-width: 117rem;
	/* justify-self: center; */
	/* margin: 0 auto; */
	display: flex;
	justify-content: space-between;
}
.advantage {
	max-width: 27rem;
	/* max-height: 30.6rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.advantage-img {
	margin-bottom: 1.1rem;
}
.advantage-2,
.advantage-3 {
	padding-top: 3.7rem;
}
.advantage-header {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: bold;
	font-size: 3rem;
	line-height: 80%;
	margin-bottom: 1.1rem;
	color: #000000;
}
.advantage-text {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 111%;
	text-align: center;
	color: #a0a3aa;
}

.efficiency-why-us {
	position: relative;
	max-width: 135.4rem;
	margin: 0 auto;
	padding-top: 8rem;
	/* padding-bottom: 10rem; */
}
.why-us_wrapper {
	display: flex;
	padding-bottom: 1.3rem;
	max-width: 121.2rem;
}
.why-us_imgs {
	display: flex;
	margin-right: 19.8rem;
}
.why-us_text p {
	font-weight: normal;
	font-size: 2.2rem;
	line-height: 118%;
	color: #293b91;
}
.why-us_text p:not(:last-child) {
	margin-bottom: 1rem;
}
.why-us_text span {
	color: #ee7e19;
}
.sticking-stars {
	position: absolute;
	left: 14.3rem;
	top: 0;
	/* position: relative; */
	/* bottom: 12rem; */
	/* right: 20.3rem; */
}
.why-us_header {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 69%;
	/* identical to box height, or 69% */
	color: #293b91;
	margin-bottom: 2rem;
	/* display: flex;
	align-items: center; */
}
/* ---------------------- Семантически относится к блоку Billboards ----------------------- */
.billboards-header_box {
	text-align: center;
	/* margin-bottom: 1.5rem; */
}
.billboards-header {
	margin: 0;
	margin-bottom: 2rem;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 600;
	font-size: 5.2rem;
	line-height: 4.8rem;
	color: #000000;
}
.billboards-text {
	margin: 0 auto;
	/* margin-bottom: 4rem; */
	max-width: 86rem;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 3rem;
	line-height: 93%;
	color: #a0a3aa;
}
/* ------------------------------------------------------------------------------------------ */

/* ============================================================================ */
.billboards {
	max-width: 192rem;
	background-color: #ffffff;
	margin: 0 auto;
}
.billboards-wrapper {
	position: relative;
	overflow: hidden;
	/* width: 100%; */
}
.billboards-row_wrapper {
	display: flex;
	justify-content: center;
	padding-top: 4rem;
	padding-bottom: 5rem;
	position: relative;
}
.orange-dots {
	position: absolute;
	top: 2rem;
	left: 16.6rem;
}
.billboard-circles {
	position: absolute;
	right: -49rem;
	/* z-index: 100; */
	/* border: 3px solid #ee7e1933; */
	box-sizing: border-box;
}
.billboard-circles-1 {
	top: 121rem;
}
.billboard-circles-2 {
	top: 283.5rem;
}
.billboards-row {
	display: flex;
}
.row_blue {
	background: rgba(97, 155, 185, 0.75);
	/* background-color: #619bb9; */
}
.billboards-card {
	width: 37rem;
	height: 72.1rem;
	background: #ffffff;
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25),
		0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}
.billboards-card:not(:last-child) {
	margin-right: 3rem;
	/* display: flex; */
}
.loupe {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	cursor: pointer;
}
.billboard-slick {
	display: flex;
	position: absolute;
	right: 1.5rem;
	top: 26.5rem;
}
.card-score {
	background-color: rgba(0, 0, 0, 0.57);
	padding: 0.1rem 0.6rem 0.3rem 0.6rem;
}
.left-arrow,
.right-arrow {
	cursor: pointer;
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
}
.billboard-numerator {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 122%;
	color: #ee7e19;
	/* position: absolute; */
	/* bottom: 0; */
	/* right: 2rem; */
}
.billboard-denominator {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 121%;
	color: #ffffff;
	/* position: absolute; */
	/* bottom: 0.1rem; */
	/* right: 0.7rem; */
}
.card-img {
	height: 30rem;
}
.billboards-card p {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: normal;
	font-size: 2.6rem;
	line-height: 92%;
	color: #000000;
	margin-bottom: 1.7rem;
}
.billboards-card p:last-child {
	line-height: 120%;
}
.billboard-info span {
	color: #ee7e19;
}
.billboards-card_textblock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid rgba(0, 152, 70, 0.25);
	box-sizing: border-box;
	border-radius: 15px;
	margin: 1rem;
	flex-grow: 1; /* блок занимает всё оставшееся место в родителе */
	/* padding: 1.6rem; */
	padding: 1.4rem;
	padding-bottom: 3rem;
}
/* Кнопка "ЗАКАЗАТЬ СЕЙЧАС" */
.billboards-button-bg {
	padding: 0.5rem;
	border: 0.1rem solid #ee7e19;
	border-radius: 4.5rem;
	width: 24rem;
	align-self: center;
}
.billboards-button {
	width: 100%;
	border: none;
	/* background: linear-gradient(180deg, #ffcb9d 0%, #ef7e1a 100%); */
	background: #ee7e19;
	/* box-shadow: 0px 4px 0px #bd6e28; */
	border-radius: 40px;
	padding: 1.2rem 2.5rem;
	padding-top: 2.9em;
	align-items: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
	/* margin-top: 5rem; */
}
.billboards-button span {
	display: inline-block;
	margin-right: 0.7rem;
	margin-top: 0.1rem;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 114%;
	text-transform: uppercase;
	color: #ffffff;
}
.billboards-button img {
	display: inline-block;
	width: 3rem;
	height: 3rem;
}
/* ==================================================================== */
.location-title {
	padding-top: 5rem;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.location-header {
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 600;
	font-size: 5.2rem;
	line-height: 92%;
	color: #000000;
	margin-bottom: 2rem;
}
.location-text {
	max-width: 66.4rem;
	text-align: center;
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: normal;
	font-size: 3rem;
	line-height: 93%;
	color: #a0a3aa;
	margin-bottom: 7rem;
}
.footer {
	background-color: #25252d;
	padding-top: 6.3rem;
	padding-bottom: 6.7rem;
}

.hero-footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	max-width: 117rem;
	margin: auto;
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 122%;
}
.footer-logo {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	align-items: center;
}
.hero-footer__logo_img {
	width: 7rem;
	height: 9.6rem;
	margin-right: 0.9rem;
}
.hero-footer__logo_text {
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 116.7%;

	color: #009745;
}
.hero-footer__logo_text span {
	color: #ee7e19;
}

.hero-footer_confidence {
	align-self: flex-end;
}
.hero-footer_social {
	grid-column: 1;
	grid-row: 2;
	display: flex;
	align-self: flex-end;
	justify-content: center;
}
.hero-footer_social img:not(:last-child) {
	margin-right: 1rem;
}
.hero-footer_menu {
	grid-column: 2;
	grid-row: 1 / 2;
}
.hero-footer_confidence {
	grid-column: 2;
	grid-row: 2;
}
.hero-footer_item {
	list-style: none;
}
.hero-footer_item a {
	color: #fff;
}
.footer-about-us {
	display: flex;
	max-height: 7rem;
}
.footer-about-us__icon {
	background: transparent;
	max-width: 7rem;
	/* max-height: 7rem; */
	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 7px;
}
.footer-about-us__icon img {
}
.footer-about-us__text {
	font-family: 'Phenomena';
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 121.4%;
	align-self: center;
	margin-left: 0.7rem;

	color: #ffffff;
}
.footer-about-us__text span {
	color: #ee7e19;
}

@media (max-width: 768px) {
	/* slogans выравниваются по левому краю */
	.owner-price,
	.crowded,
	.billboards-14,
	.bright {
		margin-left: 0;
	}
}

:root {
	--best_width: 50px;
}

/* .hero-footer { */
/* display: flex; */
/* overflow: hidden; */
/* margin: auto; */
/* top: 20px; */
/* bottom: auto; */
/* max-width: 1170px; */
/* height: auto; */
/* justify-content: space-between; */
/* align-items: center; */
/* z-index: 20; */
/* font-family: 'TT Commons'; */
/* font-style: normal; */
/* font-weight: 500; */
/* font-size: 2.4rem; */
/* line-height: 2.8rem; */
/* color: #009745; */
/* } */
